<form action="/search" method="get" role="search">
  <div class="menu_c search_menu">
    <div class="search_box">
      {% unless settings.search_results == 'everything' %}
      <input type="hidden" name="type" value="product">
      {% endunless %}
      <input type="search" name="q" value="{{ search.terms | escape }}" class="txtbox" placeholder="{{ 'general.search.submit' | t }}" aria-label="{{ 'general.search.submit' | t }}">
      <a class="search_form--clear" href="#"></a>
      <div class="drawer__header__left">
        <span class="drawer__close js-drawer-close">
          <img src="{{'close-cart.svg' | asset_url}}" >
        </span>
      </div>
    </div>
  </div>
</form>